*{
    box-sizing: border-box;
}
body{
    background-color: palegreen;
    font-family: verdana;
}
nav{
    display: flex;
    background-color: violet;
    padding: 1rem;
    justify-content: space-around;
    align-items: center;
}
nav a {
    color: white;
    padding: 1rem;

}
nav a.selected{
    border: solid 1px white;
}
#container{
    border: solid 1px black;
    padding: 1rem;

}
.three-column{
    display: flex;
}
.three-column > div:first-child{
    background-color: lightcyan;

    flex: 3;
    display: flex;
    flex-wrap: wrap;
}
.three-column > div:last-child{
    background-color: mintcream;
    color: blue;
    flex: 1;
}
.card{
    padding: 0.5rem;
    border: solid 1px black;
    width: calc(100% / 3 - 2rem);
    margin: 1rem;
    background-color: palegreen;
    border-radius: .5rem;
}
.card h4 {
    margin: 0;
}
@media (max-width: 400px){
    .card {
        width: 100%;
    }
    .three-column{
        flex-direction: column;
    }
}
.prof {
    background-image: url("rock.png");
    height: 500px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px #ff00ff;
}