body {
    font-family: 'Franklin Gothic Medium';
    color: dodgerblue;
    background-color: darkslategrey;
}
img{
    width: 100%;
    height: 100%;
}

ul{
    display: flex;
    flex-wrap: wrap;
}
ul li{
    padding: 0.5rem;
    border: solid 1px black;
    width: calc(100% / 3 - 2rem);
    margin: 1rem;
    background-color: lightcyan;
    border-radius: .5rem;
}
ul a{
    padding: 0.5rem;
    border: solid 1px black;
    width: calc(100% / 3 - 2rem);
    margin: 1rem;
    background-color: lightcyan;
    border-radius: .5rem;
}
@media (max-width: 800px){
    img{
        width: 100%;
        height: 100%;
    }
}
footer{
    position: absolute;
    bottom: 1vh;
    background-color: lightcyan;
    opacity: 75%;
    border-radius: .5rem;
    justify-content:flex-end;
    align-items: center;
    width: max-content;
}
.div1{
    display: flex;
    
}
.div1 label{
    border: 1px solid black;
    border-radius: 5%;
}
.div1 input{
    border: 1px solid black;
    border-radius: 20%;
    background-color: aqua;
}